# MongoDB
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/buetiams-boighor?retryWrites=true&w=majority

# Server
PORT=5000
NODE_ENV=development

# JWT
JWT_SECRET=your-secret-key-change-in-production
JWT_EXPIRE=7d

# CORS
CORS_ORIGIN=http://localhost:3000
